@model List<ECommerce.Models.Commercial>
<div style="color:darkgray; padding-top:5%;">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header" style="padding-right:0px;">
                    <h1 class="card-title col-md-6" style="font-size: 30px; color:black;"><i class="fas fa-user"></i> Les commerciaux</h1>
                    <div style="margin-right:0px;align-items:end">
                        <button type="button" class="btn btn-default float-right " id="btnn" style="margin-right:6%">
                            Ajout      <i class="fas fa-user-plus"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="elegantModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <!--Content-->
                                <div class="modal-content form-elegant">
                                    <!--Header-->
                                    <div class="modal-header text-center">
                                        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Ajout d'un commercial</strong></h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <!--Body-->
                                    <div class="modal-body mx-4">
                                        <!--Body-->
                                        <div class="md-form mb-3">
                                            <input type="text" id="Nom" class="form-control validate">
                                            <label data-error="wrong" data-success="right" for="Form-email1">Votre Nom et Prenom</label>
                                        </div>
                                        <div class="md-form mb-3">
                                            <input type="date" id="Date" class="form-control validate">
                                            <label data-error="wrong" data-success="right" for="Form-email1">Date de naissance</label>
                                        </div>
                                        <div class="md-form mb-3">
                                            <input type="number" id="tel" class="form-control validate">
                                            <label data-error="wrong" data-success="right" for="Form-email1">phone</label>
                                        </div>
                                        <div class="md-form mb-3">
                                            <input type="number" id="salaire" class="form-control validate">
                                            <label data-error="wrong" data-success="right" for="Form-email1">salaire</label>
                                        </div>
                                        <div class="md-form mb-3">
                                            <input type="email" id="AdrMaill" class="form-control validate">
                                            <label data-error="wrong" data-success="right" for="Form-email1">Adresse mail</label>
                                        </div>

                                        <div class="md-form pb-3">
                                            <input type="password" id="pass1" class="form-control validate">
                                            <label data-error="wrong" data-success="right" for="Form-pass1">Your password</label>
                                        </div>

                                        <div class="text-center mb-3">
                                            <button type="button" class="btn btn-default bg-success" id="submit">Enregistrer</button>
                                        </div>
                                    </div>

                                </div>
                                <!--/.Content-->
                            </div>
                        </div>
                        <!-- Modal -->
                    </div>
                </div>
                <div class="card-body table-responsive p-0" style="height: 450px;">
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr style="color:black">
                                <th>Nom et Prénom</th>
                                <th>Email</th>
                                <th>Télèphone</th>
                                <th>Date de naissance</th>
                                <th>Salaire</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody id="body">
                            @foreach (var x in Model)
                             {
                                <tr id="@x.Id" style="color:darkslategray;">
                                    <td>@x.NomPrenom</td>
                                    <td>@x.LogIn</td>
                                    <td>@x.Telephone</td>
                                    <td>@x.DateNaissance</td>
                                    <td>@x.Salaire</td>
                                    <td>
                                        <img src="~/Data/x-button.png" style="width:17px; height:17px;" title="supprimer" class="delete-button" />

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Attention !</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        voulez-vous supprimer ce champ?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary" id="ok">OK</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="~/Data/edit.png" style="width:17px; height:17px;" title="modifier"  class="modif" />
                                    </td>
                                </tr>
                             }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>

</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".delete-button").click(function () {
            var id = $(this).parents('tr').first().prop('id');
           // alert(event.target.id);
            jQuery.noConflict();
            $('#exampleModal').modal({
                closeExisting: false
            });
            $("#ok").click(function () {
                $('#exampleModal').modal('hide');
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("Supprimer", "Admin")',
                    data: { Id: id },
                    success: function () {location.reload();},
                    error: function () { alert("error") }
                });
            })

        });




        $(".modif").click(function () {
            $('#myModalLabel').html("<strong>modification du profil</strong>")
            var id2 = $(this).closest('tr').attr('id');
            $("#Nom").val($("#" + id2 + " td").eq(0).text());
            $("#Date").val($("#" + id2 + " td").eq(3).text());
            $("#tel").val($("#" + id2 + " td").eq(2).text());
            $("#salaire").val($("#" + id2 + " td").eq(4).text());
            $("#AdrMaill").val($("#" + id2 + " td").eq(1).text());
            jQuery.noConflict();
            $('#elegantModalForm').modal({
                closeExisting: false
            });

            $("#submit").click(function () {
                var commercial1 = {
                     'Id':id2,
                    'NomPrenom': $("#Nom").val(),
                    'DateNaissance':  $("#Date").val(),
                    'Telephone': parseInt($("#tel").val()),
                    'Salaire': parseInt( $("#salaire").val()),
                    'LogIn' : $("#AdrMaill").val(),
                    'Password' : $("#pass1").val()
                }
                $('#elegantModalForm').modal('hide');

                 $.ajax({
                    type: "POST",
                    url: '@Url.Action("Modifier", "Admin")',
                    data: {commercial: commercial1},
                     success: function () {
                         $("#" + id2 + " td").eq(0).html($("#Nom").val());
                        $("#" + id2 + " td").eq(3).html($("#Date").val());
                        $("#" + id2 + " td").eq(2).html($("#tel").val());
                        $("#" + id2 + " td").eq(4).html($("#salaire").val());
                        $("#" + id2 + " td").eq(1).html($("#AdrMaill").val());
 //                        $("#" + id2 + " td").eq(5).
                    },
                    error: function () { alert("error") }
                 });
            });
        });




        $("#btnn").click(function () {
            jQuery.noConflict();
            $('#elegantModalForm').modal({
                closeExisting: false
            });
            $("#submit").click(function () {
                var commercial1={
                    'NomPrenom': $("#Nom").val(),
                    'DateNaissance':  $("#Date").val(),
                    'Telephone': parseInt($("#tel").val()),
                    'Salaire': parseInt( $("#salaire").val()),
                    'LogIn' : $("#AdrMaill").val(),
                    'Password' : $("#pass1").val()
                }
                $('#elegantModalForm').modal('hide');

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AjoutCommercial", "Admin")',
                    data: { commercial: commercial1},
                    success: function () {
                        location.reload();
                    },
                    error: function () { alert("error") }
                });
            });
        });
    })
</script>







