@model List<ECommerce.Models.Commercial>
<div style="color:darkgray; margin-top:0px; padding-top:50px;">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title" style="font-size: 30px; color:black;"><img src="~/Data/user.png" style="width:40px; height:40px;" /> Les commercials</h1>

                    <div class="card-tools" style="margin:15px">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="height: 300px;">
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr style="color:black">
                                <th>Nom et Prénom</th>
                                <th>Email</th>
                                <th>Télèphone</th>
                                <th>Date de naissance</th>
                                <th>Salaire</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var x in Model)
                            {
                                <tr id="@x.IdCommercial" style="color:darkslategray;">
                                    <td>@x.NomPrenom</td>
                                    <td>@x.Mail</td>
                                    <td>@x.Telephone</td>
                                    <td>@x.DateNaissance</td>
                                    <td>@x.Salaire</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <div>
        <table>
            <tr>
                <td>
                    <button type="button" class="btn btn-block btn-secondary btn-lg" style="width: 150px; margin: 20px 20px 20px 20px;">Ajouter</button>
                </td>
                <td>
                    <button type="button" class="btn btn-block btn-secondary btn-lg" style="width: 150px; margin: 20px 20px 20px 20px;">Modifier</button>
                </td>
            </tr>
        </table>
    </div>
</div>

